.productForm--btn.btn.btn-primary {
    color: black;
    border-color: black;
    background-color: #66FC5B;
}


.productForm__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.productForm__productName--label,
.productForm__productCost--label {
    display: flex;
    justify-content: flex-start;
}